html{
    width:100%;
    height:100%;
}
body {
    position: relative;
    overflow-x: hidden;
    width:100%;
    height:100%;
    transition: margin 0.2s ease;
}

.con {
    position: relative;
    overflow-x: hidden;
    transition: margin 0.2s ease;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.front-panel-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    left: 100%;
    z-index: 1;
    overflow-y: scroll;
}

.front-panel {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.front-panel-head {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2;

}

.go-back {
    z-index: 2;
    color: #ff1e1e;
    font-size: 22px;
    width: 80px;
    text-align: right;
    display: inline-block;
    line-height: 80px;
}

.go-back:hover {
    cursor: pointer;
}

.main-area {
    margin-top: 80px;
    z-index: 2;
    padding-top: 30px;
}

.main-area-left {
    display: inline-block;
    z-index: 2;
    width: 35%;
}

.main-area-left img {
    width: 80%;
    background: #858585;
    border-radius: 3%;
    z-index: 2;
    margin-left: 10%;
}

.disk-info {
    font-size: 18px;
    z-index: 2;
    color: gray;
    line-height: 60px;
    margin-left: 10%;
}

.play-bottom-box {
    width: 80%;
    height: 80px;
    margin-left: 10%;
    padding-top: 10px;
    border-bottom: #858585 solid 1px;
}

.play-bottom {
    font-weight: 500;
    color: #ff1e1e;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    width: 40%;
    height: 60px;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(231, 231, 231);
}

.description {
    padding-top: 25px;
    font-size: 16px;
    margin-left: 10%;
    width: 80%;
    height: 400px;
    overflow-y: scroll;
}

.main-area-right {
    vertical-align: top;
    display: inline-block;
    z-index: 2;
    width: 65%;
}

.front-panel-disk-info {
    width: 80%;
    margin-left: 10%;
}

.front-panel-disk-name {
    font-size: 36px;
}

.front-panel-disk-creator {
    font-size: 22px;
    color: #858585;
}

.front-panel-song-list {
    padding-top: 64px;
    width: 80%;
    margin-left: 10%;
}

.front-panel-song {
    border-top: #858585 solid 1px;
    height: 64px;
    display: flex;
    z-index: 2;
    transition: box-shadow 0.3s ease;
}

div.front-panel-song:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}


.song-num {
    display: inline-block;
    width: 64px;
    font-size: 16px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: #858585;
}

.song-name {
    display: inline-block;
    flex: 1;
    font-size: 16px;
    line-height: 60px;
    overflow: hidden;
}

.song-artist {
    width: 150px;
    font-size: 16px;
    line-height: 60px;
    overflow: hidden;
    color: #858585;
}

.song-length {
    width: 50px;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    overflow: hidden;
    color: #858585;
    margin-right: 50px;
}

.fornt-panel-bottom {
    height: 200px;
}

.main-area-box {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.top-bar {
    height: 100px;
    width: 100%;
    /* 平均分配3连 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* =========== */
}

.left-site {
    height: 100px;
    width: 150px;
    margin-left: 5%;
}

.current-date {
    margin-top: 20px;
    height: 20px;
    width: 150px;
    font-size: 13px;
    line-height: 20px;
    color: #858585
}

.bigest-title {
    height: 60px;
    width: 150px;
    font-size: 32px;
    line-height: 60px;
}

.user-avatar {
    height: 80px;
    width: 80px;
    margin-right: 5%;
}

.user-avatar img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
}

.user-avatar img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.list {
    border-top: #858585 solid 1px;
    margin: auto;
    width: 90%;
    height: 350px;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.list-title-text {
    height: 75px;
    line-height: 75px;
    font-size: 25px;
}

.view-all {
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    width: 90px;
    color: #ff1e1e;
}

.list-items {
    overflow: hidden;
    position: relative;
    align-items: center;
    height: 275px;
    width: 100%;

    /* padding-top:15px;
    padding-left:15px; */
}

.left-arrow {
    background: rgba(0, 0, 0, 0);
    height: 275px;
    line-height: 275px;
    text-align: center;
    width: 5%;
    position: absolute;
    left: 0px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0);
    transition: background 0.5s ease;
    font-weight: bolder;
}

.left-arrow:hover {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.right-arrow {
    background: rgba(0, 0, 0, 0);
    height: 275px;
    line-height: 275px;
    text-align: center;
    width: 5%;
    font-size: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0);
    transition: background 0.5s ease;
    font-weight: bolder;
}

.right-arrow:hover {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.disk-box {
    width: 200%;
    transition: margin-left 0.3s ease;
}

/* .disk:hover{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
} */
.disk {
    vertical-align: middle;
    display: inline-block;
    height: 250px;
    width: 200px;
    margin-right: 50px;
    border-radius: 5px;
}

.disk:hover {
    cursor: pointer;
}

.disk img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.disk-name {
    font-size: 16px;
}

.bottom {
    height: 80px;
}

.sub-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 60px;
    background: rgba(212, 212, 212, 0.6);
    width: 100%;
    border-top: #858585 solid 1px;
    z-index: 99;
}

.glass {
    position: absolute;
    width: 105%;
    height: 80px;
    left: -5%;
    filter: blur(4px);
    background: rgba(212, 212, 212, 0.8);
    z-index: 98;
}

.ctrl-panel {
    height: 60px;
    flex: 1;
    z-index: 99;
}

.ctrl-item-box {
    display: inline-block;
    width: 50%;
    height: 60px;
    line-height: 60px;
    z-index: 99;
    cursor: pointer;
}

.ctrl-item {
    width: 120px;
    margin: auto;
    z-index: 99;
}

span.my-icon {
    vertical-align: middle;
    font-size: 36px;
    color: #858585;
    z-index: 99;
}

div.ctrl-text {
    vertical-align: middle;
    font-size: 18px;
    color: #858585;
    display: inline-block;
    z-index: 99;
}

span.my-icon-selected {
    vertical-align: middle;
    font-size: 36px;
    color: #ff1e1e;
    z-index: 99;
}

div.ctrl-text-selected {
    vertical-align: middle;
    font-size: 18px;
    color: #ff1e1e;
    display: inline-block;
    z-index: 99;
}

.line {
    background: black;
    display: inline-block;
    height: 50px;
    width: 1px;
    margin-top: 5px;
    z-index: 99;
}

.player-area{
    width:400px;
}

.player-box {
    position: fixed;
    height: 60px;
    width: 400px;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-top: 5px;
    z-index: 99;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}

.player-top{
    width:100%;
    height:0px;
    padding-top:0px;
    overflow: hidden;
}
.player-top:hover{
    cursor: pointer;
}
.player-top-bar{
    width: 60px;
    height: 8px;
    background: #858585;
    margin:auto;
    border-radius: 5px;
}
.current-img {
    background: white;
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 99;
    cursor: pointer;
}
.player-name-tool-box{
    vertical-align: middle;
    display: inline-block;
    width:330px;
    height: 50px;
}
.current-song {

    vertical-align: middle;
    display: inline-block;
    width: 200px;
    overflow: hidden;
    line-height: 50px;
    margin-left: 15px;
    z-index: 99;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}
.current-artist{
    font-size: 0px;
    margin-left: 0px;
    display: inline-block;
    color: #858585;
}

.current-song div {
    font-size: 16px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 1000px;
}
.previous-song {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    transform: scale(-1,1);
    text-align: center;
    z-index: 99;
    cursor: pointer;
}

.play {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
}
.play-small {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
}
.pause {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
}
.pause-small {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
}
.next-song {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 70px;
    width: 70px;

    text-align: center;
    z-index: 99;
    cursor: pointer;
}
.next-song-small {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    text-align: center;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
}
.tool-box{
    display: inline-block;
    width:210px;
    height:70px;
    margin-left: 95px;
}
.tool-box-small{
    vertical-align: middle;
    display: inline-block;
    width:100px;
    height:50px;
}
span.tools {
    font-size: 36px;
    line-height: 70px;
    /*28 50 before*/
    color: black;
    z-index: 99;
}
span.tools-small {
    font-size: 28px;
    line-height: 50px;
    color: black;
    z-index: 99;
}
span.tools:hover {
    cursor: pointer;
}

.progress-bar-box{
    height: 60px;
    width: 350px;
    margin:auto;
    padding-top: 20px;
    overflow: hidden;
}
.progress-bar{
    margin:auto;
    position: relative;
    background: #c0c0c0;
    width: 340px;
    border-radius: 2px;
    height: 6px;
    cursor: pointer;
}
.progressed-bar{
    position: absolute;
    background: #888888;
    width: 0px;
    border-radius: 2px;
    height: 6px;
}
.progress-bar-item{
    position: absolute;
    background:#888888;
    width:12px;
    height: 12px;
    border-radius: 50%;
    top:-3px;
    left: -3px;
}
.progress-info{
    margin: auto;
    width:340px;
    height: 20px;
}
.played{
    display: inline-block;
    width: 50%;
    font-size: 15px;
    line-height: 20px;
    color: #c0c0c0;
}
.remaining{
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
    color: #c0c0c0;
}
.volume-bar-box{
    height: 50px;
    width: 350px;
    margin:auto;
    overflow: hidden;
}
.volume-up-icon{
    vertical-align: middle;
    text-align: center;
    line-height: 45px;
    width:50px;
    height:50px;
    display: inline-block;
    font-size: 25px;
}
.volume-bar{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    background: #c0c0c0;
    width: 250px;
    border-radius: 2px;
    height: 4px;
    cursor: pointer;
}
.volume-used-bar{
    position: absolute;
    background: #888888;
    width: 200px;
    border-radius: 2px;
    height: 4px;
}
.volume-bar-item{
    position: absolute;
    background:white;
    border: #888888 solid 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top:-7px;
    left: 194px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.search-area-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    /* transition: all 0.0s cubic-bezier(0.165, 0.84, 0.44, 1); */
    top: 100%;
    z-index: 90;
    overflow-y: scroll;
}
.search-main-area{
    position: relative;
    width:90%;
    height:100px;
    margin: auto;
    padding-top:20px;
}
.search-bar{
    width:100%;
    height:40px;
    border-radius: 6px;
    background: #e9e9e9;
    font-size:16px;
    padding-left:40px;
    padding-right: 20px;
    box-shadow:none; /*去除阴影*/
    outline: none;/*聚焦input的蓝色边框*/
    resize: none; /*textarea 禁止拖拽*/
    border: none; /*去除边框*/
    -webkit-appearance: none;/*常用于IOS下移除原生样式*/
    -webkit-tap-highlight-color: rgba(0,0,0,0); /*点击高亮的颜色*/
}
span.search-icon{
    position: absolute;
    top:25px;
    left:5px;
    font-size: 26px;
    color: #858585;
}
.search-option-area{
    width:89%;
    margin: auto;
}
.search-option{
    width:100%;
    font-size:18px;
    line-height: 48px;
    border-top: #858585 solid 1px;
    height: 48px;
    display: flex;
    z-index: 2;
    transition: box-shadow 0.3s ease;
    padding-left:5px;
}
.search-option:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.hot-search-title{
    font-size:25px;
}